[Unit]
Description=lightswitch

[Service]
ExecStart=/home/pi/.nvm/versions/node/v8.11.3/bin/node /home/pi/Documents/puck/index.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/Documents/puck

[Install]
WantedBy=multi-user.target